*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}




body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(https://cdn.wallpapersafari.com/57/99/5xXlZT.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
   
}

.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:brown;
    border-radius: 10px;
}
h2{
    color: white;
    font-size: 25px;
}
.form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.email input{
    width: 250px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.button .btn{
    padding: 10px;
    outline: none;
    border: none;
    font-size: 13px;
    background-color:gray;
    border-radius: 5px;
    color: white;
    transition: 300ms;
}

.btn:hover{
    background-color:white;
    color:brown;
    transition: .8s;
    cursor: pointer;
}

@media screen and (min-width:250px) and (max-width:768px){
    .container{
        width: 100%;
        display: flex;
    }

    h2{
        font-size: 19px;
    }
    .email input{
        width:100%;
    }
}


